<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <img class="portrait" src="/img/IMG_6889.jpg">
    <p>I love dogs, cats, animals of all kind and some humans.. just some.</p>
  </div>
  
  {{>footer}}
</body>
</html>